flows.json
[{"id":"b6291d.f0af06e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"edd4f080.eee05","type":"http request","z":"b6291d.f0af06e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":160,"wires":[["52e8dfe7.b62cf","d6750590.73cbb8"]]},{"id":"4cb8f52e.e5df2c","type":"function","z":"b6291d.f0af06e","name":"Pre-tocken","func":"global.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"wind\",msg.payload.wind)\nvar apikey=\"CgMrB47Ly15BzWDrXYvK8m3npLhwVORQa5E2fDIn6uor\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":160,"wires":[["edd4f080.eee05"]]},{"id":"52e8dfe7.b62cf","type":"function","z":"b6291d.f0af06e","name":"Pre-Prediction","func":"var temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar wind = global.get(\"wind\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"temperature\", \"humidity\", \"wind\"]],\"values\": [[temperature,humidity,wind]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[["d9747424.c295b8"]]},{"id":"d6750590.73cbb8","type":"debug","z":"b6291d.f0af06e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"1d4f1134.87c35f","type":"function","z":"b6291d.f0af06e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":360,"wires":[["8211db9d.fe74c8","be8adf1a.14f7f","2ed81e73.a93142"]]},{"id":"d9747424.c295b8","type":"http request","z":"b6291d.f0af06e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/f38d5008-0fe0-4292-bf19-a3a5afdd3995/predictions?version=2020-10-27","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":260,"wires":[["1d4f1134.87c35f","95a5caa3.a7f568"]]},{"id":"95a5caa3.a7f568","type":"debug","z":"b6291d.f0af06e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"8211db9d.fe74c8","type":"debug","z":"b6291d.f0af06e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":340,"wires":[]},{"id":"2ed81e73.a93142","type":"ui_text","z":"b6291d.f0af06e","group":"3c34a2ac.16296e","order":6,"width":"0","height":"0","name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":950,"y":260,"wires":[]},{"id":"7faab7a7.469d88","type":"inject","z":"b6291d.f0af06e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["4cb8f52e.e5df2c"]]},{"id":"7ca7ae06.de9f","type":"ui_form","z":"b6291d.f0af06e","name":"Rainfall Prediction","label":"","group":"3c34a2ac.16296e","order":1,"width":"0","height":"0","options":[{"label":"Temperature","value":"temperature","type":"number","required":false,"rows":null},{"label":"Humidity Level","value":"humidity","type":"number","required":false,"rows":null},{"label":"Wind Speed","value":"wind","type":"number","required":false,"rows":null}],"formValue":{"temperature":"","humidity":"","wind":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":80,"wires":[["4cb8f52e.e5df2c"]]},{"id":"be8adf1a.14f7f","type":"ui_gauge","z":"b6291d.f0af06e","name":"","group":"3c34a2ac.16296e","order":7,"width":0,"height":0,"gtype":"gage","title":"Rainfall","label":"units","format":"{{msg.payload}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":400,"wires":[]},{"id":"1c9a30be.d6194f","type":"debug","z":"b6291d.f0af06e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":620,"wires":[]},{"id":"fcbf3a07.80dc88","type":"ui_gauge","z":"b6291d.f0af06e","name":"","group":"c7021140.34367","order":1,"width":"4","height":"4","gtype":"gage","title":"humidity","label":"Degree","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":540,"wires":[]},{"id":"f886ac31.4f269","type":"ui_gauge","z":"b6291d.f0af06e","name":"","group":"c7021140.34367","order":3,"width":"4","height":"4","gtype":"gage","title":"wind","label":"units","format":"{{msg.payload.wind}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":540,"wires":[]},{"id":"f73c9fe6.12db4","type":"ui_gauge","z":"b6291d.f0af06e","name":"","group":"c7021140.34367","order":4,"width":"4","height":"4","gtype":"gage","title":"temperature","label":"","format":"{{msg.payload.temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":210,"y":540,"wires":[]},{"id":"b346f77a.463f98","type":"ibmiot in","z":"b6291d.f0af06e","authentication":"apiKey","apiKey":"e1a1e45e.d65578","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"21250315","applicationId":"","deviceType":"Node4Project","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":640,"wires":[["f73c9fe6.12db4","fcbf3a07.80dc88","f886ac31.4f269","1c9a30be.d6194f","45be383a.177b18"]]},{"id":"ea567f5c.6e152","type":"http request","z":"b6291d.f0af06e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":800,"wires":[["de2d1ee3.abefa","1c08d310.1b677d"]]},{"id":"45be383a.177b18","type":"function","z":"b6291d.f0af06e","name":"Pre-tocken","func":"global.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"wind\",msg.payload.wind)\nvar apikey=\"4IOU8ZRzYMwyeZKlAnzXrTsQE5Aa3bbUAFUYw22m1IB-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":720,"wires":[["ea567f5c.6e152"]]},{"id":"de2d1ee3.abefa","type":"function","z":"b6291d.f0af06e","name":"Pre-Prediction","func":"var temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar wind = global.get(\"wind\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"temperature\", \"humidity\", \"wind\"]],\"values\": [[temperature,humidity,wind]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":920,"wires":[["8c9c3630.061008"]]},{"id":"1c08d310.1b677d","type":"debug","z":"b6291d.f0af06e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":820,"wires":[]},{"id":"875dfe8b.6946e","type":"function","z":"b6291d.f0af06e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":940,"wires":[["6981f5b.963d70c","d65d0371.8a26b"]]},{"id":"8c9c3630.061008","type":"http request","z":"b6291d.f0af06e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/282bd8cb-4499-4203-8608-f52beabc0b0b/predictions?version=2020-10-27","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":920,"wires":[["875dfe8b.6946e","274a1659.f06c5a"]]},{"id":"274a1659.f06c5a","type":"debug","z":"b6291d.f0af06e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":820,"wires":[]},{"id":"6981f5b.963d70c","type":"debug","z":"b6291d.f0af06e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1020,"wires":[]},{"id":"d65d0371.8a26b","type":"ui_gauge","z":"b6291d.f0af06e","name":"","group":"c7021140.34367","order":7,"width":"4","height":"4","gtype":"gage","title":"Rainfall","label":"units","format":"{{msg.payload}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":940,"wires":[]},{"id":"3c34a2ac.16296e","type":"ui_group","z":"","name":"IoT Based Prediction for Rainfall","tab":"4adbc3e5.cb1e9c","order":1,"disp":true,"width":"7","collapse":false},{"id":"c7021140.34367","type":"ui_group","z":"","name":"IoT Simulated Data","tab":"b733ba35.7707a8","order":4,"disp":true,"width":"12","collapse":true},{"id":"e1a1e45e.d65578","type":"ibmiot","z":"","name":"Node4Project","keepalive":"60","serverName":"nwi5tl.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4adbc3e5.cb1e9c","type":"ui_tab","z":"","name":"Project","icon":"dashboard","disabled":false,"hidden":false},{"id":"b733ba35.7707a8","type":"ui_tab","z":"","name":"IoT Project","icon":"dashboard","disabled":false,"hidden":false}]